*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.container{

}

body{
    overscroll-behavior: contain;
}

canvas{
    position: absolute;
    box-sizing: border-box;
}

canvas:hover{
    cursor: pointer;
}



/* Menu */
label[for=menu-button]{
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

label[for=menu-button] > input[type=checkbox]{
    width: 50%;
    height: 50%;
    position: absolute;
    display:none;
}


label[for=menu-button]:hover{
    cursor: pointer;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    transition-property: top, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
}

#menu-button:checked + .hamburger-menu{
    background: transparent;

}

.hamburger-menu::before,
.hamburger-menu::after{
    display: block;
    content: "";
}
.hamburger-menu::before{
    top: -10px;
}
.hamburger-menu::after{
    top: 10px;
}



#menu-button:checked + .hamburger-menu::before{
    transition-delay: 0s, 0.2s;
    top:0;
    transform: rotate(45deg);

    /* transition: transform 0.2s linear, top 0.2s linear 0.2s; */
    /* transition-delay: 0.2s, 0s; */
    
}

#menu-button:checked + .hamburger-menu::after{
    transition-delay: 0s, 0.2s;
    top:0;
    transform: rotate(-45deg);
    /* transition: transform 0.2s linear, top 0.2s linear 0.2s; */
    /* transition-delay: 0s, 0.2s; */
    
}








div.main-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: rgb(192, 192, 192);
    border-radius: 20px;
    z-index: 100;
    text-align: center;
    display: none;
    box-shadow: 0 2px 10px 5px rgba(100,100,100, 0.7);
}

div.main-menu > h1{
    margin-bottom: 20px;
}


/* Size icon */

div#size-selector{
    width: 100%;
    margin: 10px 0;
}

div#size-selector > div{
    display: flex;
}

div.main-menu input[type=range]{
    margin: 0 5px;
    flex-grow: 2;
}

div.main-menu input[type=range]:hover{
    cursor: pointer;
}

div.main-menu input[type=number]{
    appearance: textfield;
    width: 10%;
    height: 30px;
    text-align:center;
    border-radius: 5px;
}


.pen-icon{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-image: url("/assets/images/pen.png");
    background-size: contain;
}



/* other icons */
div#menu-icons{
    margin: 10px 0;
}
div#menu-icons > h4{
    margin: 10px 0;
}

div#tool-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.icon{
    width: 30px;
    height: 30px;
    border-radius: 7px;
}

.icon:hover{
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
}

.pen-icon,
.pen-tool-icon,
.eraser-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
}

.eraser-icon{
    background-image: url("/assets/images/eraser.png");
}

.square-icon,
.circle-icon,
.line-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-icon::after,
.circle-icon::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.circle-icon::after{
    border-radius: 50%;
}

.line-icon::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-top: 2px solid rgb(0, 0, 0);
    transform-origin: 0 0;
    transform: rotate(45deg) translateX(8px);
}

.pen-tool-icon{
    background-image: url("/assets/images/pen-tool.png");
}

.pen-icon{
    background-image: url("/assets/images/pen.png");
}


.selected-icon{
    background-color: rgb(119, 119, 119);
}

div.advanced-icons{
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-around;
}

div.advanced-icons > div {
    /* width: 100px; */
    /* height: 100px; */
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


div.color-icon > label{
    /* display: block; */
    /* line-height: 30px;
    font-size: 1.1em; */
}

input[type=color]{
    cursor: pointer;
    height: 40px;
}


#color-picker{
    
}

#blank-page > button{
    line-height: 30px;
    padding: 5px 0 5px 10px;
    border-radius: 5px;
    background-color: rgb(105, 105, 105);;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

#blank-page > button:hover{
    background-color: rgb(70, 70, 70);
}

span#blank-page-icon{
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    padding-right: 10px;

    background-image: url("assets/images/blank-page.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    

}





/* Big Icons */

#storage-menu{
    margin-top: 10px;
    justify-content: space-around;
}

#storage-choice{
    margin-top: 10px ;
    display: flex;
    justify-content: space-around;
}



.big-icon{
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.big-icon > button{
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: block;
    background-color: transparent;
    background-position: center;
    background-size: contain;
}
.big-icon > span{
    display: block;
    margin: 10px 0 0 0;

}


#google-drive > button{
    background-image: url("assets/images/google-drive.png");
    margin: 0 auto;
    
}

#google-drive:hover{
    background-color: rgb(160, 160, 160);
}

#hard-drive > button{
    background-image: url("assets/images/hard-drive.png");
    background-position: center;
    background-size: contain;
    background-color: transparent;
}

#hard-drive:hover{
    background-color: rgb(160, 160, 160);
}




/* label[for=size-number]{
    display:block;
}


#eraser{
    margin-left: 10px;
    background-image: url("assets/images/eraser.png");
    background-color: transparent;
    background-size:contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 5px
}

#eraser:hover{
    background-color: #eee;
    cursor: pointer;
} */


