*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.container{

}

canvas{
    position: absolute;
}

canvas:hover{
    cursor: pointer;
}



/* Menu */
div#menu-button{
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;


}

div#menu-button:hover{
    cursor: pointer;
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 5px;
    border-radius: 5px;
   
}
.hamburger-menu::before,
.hamburger-menu::after{
    display: block;
    content: "";
}
.hamburger-menu::before{
    top: -10px;
}
.hamburger-menu::after{
    top: 10px;
}

div.main-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
    z-index: 100;
    text-align: center;
    display: none;
}

div.main-menu > h1{
    margin-bottom: 20px;
}





/* Menu Icons */



/* Size icon */

div#size-selector{
    height: 30px;
    width: 100%;
    display: flex;

    
}

div.main-menu input[type=range]{
    margin: 0 5px;
    flex-grow: 2;
}

div.main-menu input[type=range]:hover{
    cursor: pointer;
}

div.main-menu input[type=number]{
    appearance: textfield;
    width: 10%;
    height: 30px;
    text-align:center;
    border-radius: 5px;
}


.pen-icon{
    /* display: block; */
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-image: url("/assets/images/pen.png");
    background-size: contain;
}





/* other icons */
div#menu-icons{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: space-between;

}


.icon{
    width: 30px;
    height: 30px;

}

.icon:hover{
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
}

.pen-icon,
.pen-tool-icon,
.eraser-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
}

.eraser-icon{
    background-image: url("/assets/images/eraser.png");
}

.square-icon,
.circle-icon,
.line-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-icon::after,
.circle-icon::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.circle-icon::after{
    border-radius: 50%;
}

.line-icon::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-top: 2px solid rgb(0, 0, 0);
    transform-origin: 0 0;
    transform: rotate(45deg) translateX(8px);
}

.pen-tool-icon{
    background-image: url("/assets/images/pen-tool.png");
}

.pen-icon{
    background-image: url("/assets/images/pen.png");
}


div.color-icon{
    flex-grow: 1;
    display: flex;
}

div.color-icon > label{
    display: block;
    line-height: 30px;
    font-size: 1.1em;
}

input[type=color]{
    height: 30px;
}


.selected-icon{
    background-color: rgb(119, 119, 119);
}






/* label[for=size-number]{
    display:block;
}


#eraser{
    margin-left: 10px;
    background-image: url("assets/images/eraser.png");
    background-color: transparent;
    background-size:contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 5px
}

#eraser:hover{
    background-color: #eee;
    cursor: pointer;
} */


